xcuserdata
Pods
Podfile.lock
SpeakerAlert.xcworkspace/xcshareddata
fastlane/screenshots
report.xml
AppStore_com.theothertomelliott.SpeakerAlert.mobileprovision
SpeakerAlert.app.dSYM.zip
SpeakerAlert.ipa
