xcuserdata
Pods
Podfile.lock
SpeakerAlert.xcworkspace/xcshareddata
report.xml
AppStore_com.theothertomelliott.SpeakerAlert.mobileprovision
SpeakerAlert.app.dSYM.zip
SpeakerAlert.ipa
fastlane/screenshots/*
DerivedData
*.swp
vendor/bundle
.bundle
